/* Main CSS */

body{
  font-family: 'Helvetica Neue Light', 'Arial', sans-serif;
}

.container{
  width: 600px;
  height: 30%;

  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

  margin: auto;

  h1{
    font-size: 5rem;
    span{
      color: #27ae60;
    }
  }
  h2{
    margin-top: 10px;
    span{
      color: #27ae60;
    }
  }
  .links{
    margin-top: 25px;
    text-align: center;
    
    a:link, a:visited{
      text-decoration: none;
      color: #27ae60;
    }

    a:hover{
      color: #ff8547;
    }
  }
}

@media all and (max-width: 800px){
  .container{
    margin-left: 20px;
    .links{
      text-align: left !important;
    }

    h1{
      font-size: 3em;
    }
  }
}

